<header>    
    <div class="banner">
        <img src="../assets/images/logo.jpg" alt="ABC Fitness Banner" />
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-title" href="#">ABC Fitness</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link click" href="../pages/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click" href="../pages/gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click" href="../pages/about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click" href="../pages/signup.html">Sign Up</a>
                    </li>
                </ul>
                <ul class="navbar-nav right">
                    <li class="nav-item">
                        <a class="nav-link click" type="button" data-bs-toggle="modal" data-bs-target="#cartModal">
                            View Cart  <i class="bi bi-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-3">
        <div class="modal-header" style="background-color: #634E99; color: white;">
          <h5 class="modal-title" id="cartModalLabel">Shopping Cart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul id="cart-items" class="list-group">
            <!-- Cart items will be dynamically added here -->
          </ul>
          <div id="cart-summary" class="cart-summary" style="display: none;">
            <p id="cart-subtotal">Subtotal: $0.00</p>
            <p id="cart-tax">Tax (0.051%): $0.00</p>
            <p id="cart-total">Total: $0.00</p>
          </div>
          <p id="cart-empty" style="display: none;">Cart is empty</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeBtn">Close</button>
          <button type="button" class="btn btn-primary" onclick="checkout()" id="checkoutBtn">Checkout</button>
        </div>
      </div>
    </div>
  </div>
